:root {
  --accent: #B24242;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.counter-modifier {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.btn {
  background-color: var(--accent);
  border: 1px solid var(--accent);
  color: #fff;
  padding: 0.6rem 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
}

.dec-btn {
  border-radius: 5px 0 0 5px;
}

.inc-btn {
  border-radius: 0 5px 5px 0;
}

.counter-input {
  width: 5ch;
  border: 1px solid var(--accent);
  padding: 5px;
  text-align: center;
  color: var(--accent);
  font-size: 1.5rem;
  font-weight: 600;
}

@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: loader-spin infinite 5s linear;
    margin-right: 0.5rem;
  }
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
